<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>

  <script>
    (function () {
      const select = document.getElementById("country");
      const menuFirst = document.querySelector(".menuFirst");
      const menuSecond = document.querySelector(".menuSecond");
      const menuThird = document.querySelector(".menuThird");
      const menuFourth = document.querySelector(".menuFourth");


      if (!select || !menuFirst || !menuSecond) return;

      function updateMenus() {
        // Hide all first
        menuFirst.classList.add("hidden");
        menuSecond.classList.add("hidden");
        menuThird.classList.add("hidden");
        menuFourth.classList.add("hidden");


        // Then show only the selected one
        if (select.value === "kozijnen-Vervange") {
          menuFirst.classList.remove("hidden");
        } else if (select.value === "gevelbekleding") {
          menuSecond.classList.remove("hidden");
        }
        else if (select.value === "dakkapel") {
          menuThird.classList.remove("hidden");
        }
        else if (select.value === "Schuifpui") {
          menuFourth.classList.remove("hidden");
        };
      }

      select.addEventListener("change", updateMenus);
      // Initialize on load
      updateMenus();
    })();

    // Mobile menu toggle functionality
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('toggle').addEventListener('click', function () {
        const expanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', String(!expanded));
        document.getElementById('arrow').classList.toggle('rotate-180');
      });
      const mobileMenuButton = document.querySelector('[data-collapse-toggle="navbar-sticky"]');
      const mobileMenu = document.getElementById('navbar-sticky');

      if (mobileMenuButton && mobileMenu) {
        mobileMenuButton.addEventListener('click', function () {
          // Toggle the hidden class
          mobileMenu.classList.toggle('hidden');

          // Update aria-expanded attribute
          const isExpanded = !mobileMenu.classList.contains('hidden');
          mobileMenuButton.setAttribute('aria-expanded', isExpanded);
        });
      }

    });



  </script>
</body>

</html>