{{ define "main" }}
<section class=" py-5 h-[100vh] flex">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-4 xl:gap-0 lg:py-16 lg:grid-cols-12  flex items-center">
    <div class="mr-auto place-self-center lg:col-span-7  px-5">
      <h1 class="max-w-2xl mb-4 text-4xl md:text-5xl xl:text-6xl font-extrabold leading-none text-slate-700">
        {{.Params.hero_section}}
        <span class="text-[#ed5821]">{{.Params.hero_section2}}</span>
      </h1>
      <p class="max-w-xl mb-6 font-light text-gray-400 lg:mb-8 text-md md:text-lg lg:text-xl ">Al jaren doe ik
        timmerklussen in Noord-Nederland. Van een kozijn vervangen tot een dakkapel erbij - werk dat lang meegaat, voor
        een eerlijke prijsa.
      </p>
      <p
        class=" md:block px-3 py-3 bg-[#F4EDEB] rounded-lg text-gray-500 text-xs text-justify md:text-sm font-medium mb-6">
        <span class="text-slate-800">Indicatieprijzen:</span> {{.Params.pricing}}
      </p>

      <div class="space-x-3">
        <a href="#" class="inline-flex items-center text-white bg-[#ed5821] hover:bg-orange-700
         font-medium rounded-lg text-sm md:text-sm px-6 py-3 transition duration-300">
          Prijs opvragen
          <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 
         01-1.414-1.414L14.586 11H3a1 1 0 
         110-2h11.586l-4.293-4.293a1 1 0 
         010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>

        <a href="#" class="mt-4 md:mt-0 relative inline-flex items-center justify-center px-6 py-3 
         text-sm font-medium rounded-lg border border-[#ed5821] text-[#ed5821] 
         transition-all duration-300 ease-in-out
         hover:bg-[#ed5821] hover:text-white focus:ring-2 focus:outline-none focus:ring-[#ed5821] ">
          Ons werk bekijken

        </a>
      </div>

      <figure class="max-w-screen-md bg-gray-100 rounded-lg p-4 mt-4">
        <div class="flex items-center mb-2 text-green-600">
          <svg class="w-5 h-5 me-1 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
          <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
          <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
          <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
          <p class="text-gray-400 px-2">(42 Review)</p>
        </div>
        <blockquote>
          <p class="text-sm text-gray-700 ">"Flowbite is just awesome. It contains tons of
            predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your
            next SaaS application."</p>
        </blockquote>
        <figcaption class="flex items-center mt-6 space-x-3 rtl:space-x-reverse">

          <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-300 dark:divide-gray-700">
            <cite class="text-sm text-gray-600 not-italic">Bonnie Green</cite>
          </div>
        </figcaption>
      </figure>


    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex bg-gray-100 h-100">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
    </div>
  </div>

</section>
<div class="py-12">
  <div class="container mx-auto px-8">
    <!-- Header Section -->
    <div class="text-center mb-12 ">
      <h2 class="text-4xl font-bold text-black mb-4">Jurjen's specialiteiten</h2>
      <p class="text-lg text-black max-w-2xl mx-auto">Deze klussen doen wij het vaakst sinds 2019. Jurjen komt eerst
        langs voor een vrijblijvende prijsindicatie, daarna krijgt u een duidelijke offerte.
      </p>
    </div>

    <!-- Cards Section -->
    <div class="flex justify-center mt-5">
      <div class="w-80 bg-gray-100 border border-gray-200 rounded-lg shadow-lg overflow-hidden flex-shrink-0">
        <a href="#" class="">
          <img class="bg-blue-600 rounded-t-lg h-80 object-cover" alt=""
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 break-words">Noteworthy technology
              acquisitions 2021hdfb hdfdhfh hdhfdh jbjjjj jhjhjhj</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 text-sm break-words max-w-full">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis, quas obcaecati ipsum doloribus illo
            blanditiis quos velit sit recusandae.
          </p>


          <div class="flex justify-center">
            <a href="#"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
              Read more
              <svg class="rtl:rotate-180 h-2 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}