{{ define "main" }}
<div>
  <section class=" py-5 h-[100vh] 2xl:h-[80vh] text-gray-400  flex">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-4 xl:gap-0 lg:py-16 lg:grid-cols-12  flex items-center">
      <div class="mr-auto place-self-center lg:col-span-7  px-5">
        <h1 class="max-w-2xl mb-4  text-4xl md:text-5xl xl:text-6xl font-extrabold leading-none text-slate-700">
          {{.Params.hero_section_group.hero_section}}
          <span class="text-[#D7223C]">{{.Params.hero_section_group.hero_section2}}</span>
        </h1>
        <p class="max-w-xl mb-6 font-light text-gray-400 lg:mb-8 text-md md:text-lg lg:text-xl ">
          {{.Params.hero_section_group.sub_heading}}</p>
        <p
          class=" md:block px-3 py-3 bg-gray-100 rounded-lg text-gray-500 text-xs text-justify md:text-sm font-medium mb-6">
          <span class="text-slate-800">{{.Params.hero_section_group.label1}}</span>
          {{.Params.hero_section_group.label2}}
        </p>

        <div class="space-x-3">
          <a href="tel:+{{.Params.hero_button1_number}}" class="call-btn inline-flex items-center text-white bg-[#D7223C] hover:bg-white hover:text-[#D7223C] 
           font-medium rounded-lg text-sm md:text-sm px-6 py-3  transition duration-300">
            {{.Params.hero_section_group.hero_button1}}
            <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 
           01-1.414-1.414L14.586 11H3a1 1 0 
           110-2h11.586l-4.293-4.293a1 1 0 
           010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </a>

          <a href="/project" class="mt-4 md:mt-0 relative inline-flex items-center justify-center px-6 py-3 
           text-sm font-medium rounded-lg border border-[#ed5821] text-[#ed5821] 
           transition-all duration-300 ease-in-out
           hover:bg-[#D7223C] hover:text-white focus:ring-2 focus:outline-none focus:ring-[#ed5821] ">
            {{.Params.hero_section_group.hero_button2}}

          </a>
        </div>

        <figure class="max-w-screen-md bg-gray-100 rounded-lg p-4 mt-4">
          <div class="flex items-center mb-2 text-green-600">
            <svg class="w-5 h-5 me-1 text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-5 h-5 me-1 text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-5 h-5 me-1 text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-5 h-5 me-1 text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-5 h-5 text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <p class="text-gray-400 px-2">({{.Params.hero_section_group.no_of_reviews}} Review)</p>
          </div>
          <blockquote>
            <p class="text-xs md:text-sm text-gray-700 ">"{{.Params.hero_section_group.review}}"</p>
          </blockquote>
          <figcaption class="flex items-center mt-3 space-x-3 rtl:space-x-reverse">

            <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-300 dark:divide-gray-700">
              <cite class="text-sm text-gray-600 not-italic">{{.Params.hero_section_group.reviewed_by}}</cite>
            </div>
          </figcaption>
        </figure>
        <div class="mt-6">
          <div class="grid grid-cols-2 gap-6">
            <!-- Left Column -->
            <div class="text-center ">
              <h3 class="text-lg md:text-2xl font-bold text-gray-800 mb-1">{{.Params.hero_section_group.info_heading1}}
              </h3>
              <p class="text-sm text-gray-600">{{.Params.hero_section_group.info_text1}}</p>
            </div>

            <!-- Right Column -->
            <div class="text-center ">
              <h3 class="text-lg md:text-2xl font-bold text-gray-800 mb-1">{{.Params.hero_section_group.info_heading2}}
              </h3>
              <p class="text-sm text-gray-600">{{.Params.hero_section_group.info_text2}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex bg-[#e2d5c4] h-100">
        <img src="{{ .Params.hero_section_group.hero_image }}" alt="construction man" class="rounded-lg object-cover">
      </div>
    </div>

  </section>




  <div class="py-2">
    <div class="container mx-auto px-8">
      <!-- Header Section -->
      <div class="text-center lg:mb-12 ">
        <h2 class="text-4xl font-bold text-black my-8">{{.Params.project_section_group.project_section_title}}</h2>
        <p class="text-sm md:text-lg text-gray-700 max-w-2xl mx-auto">
          {{.Params.project_section_group.project_subheading}}</p>
      </div>

      <!-- Cards Section -->
      <div class="flex justify-center w-full py-8 px-6">
        <div class="flex flex-col lg:flex-row w-full gap-8 justify-center items-start">

          <!-- Loop over cards -->
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {{ range .Params.project_section_group.project_cards }}
            <div
              class="w-full max-w-md  mx-auto bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden group">
              <a href="{{ .link }}">
                <img
                  class="rounded-t-lg w-full h-56 object-cover transition-transform duration-300 group-hover:scale-105"
                  alt="{{ .heading }}" src="{{ .image }}" />
              </a>
              <div class="p-5 flex flex-col h-[calc(100%-14rem)]">
                <div class="flex items-center gap-3 mb-3">
                  <span class="inline-flex items-center justify-center w-10 h-10 rounded-xl bg-red-100 text-orange-600">
                    <img src="/logo mark.png" class="w-6 h-8" alt="">
                  </span>
                  <h5 class="text-xl font-semibold text-slate-800">{{ .heading }}</h5>
                </div>
                <p class="text-gray-600 text-base leading-relaxed mb-4 flex-grow">
                  {{ .description }}
                </p>
                <ul class="space-y-2 mb-6">
                  {{ range .points }}
                  <li class="flex items-center text-gray-700">
                    <span class="h-2 w-2 rounded-full bg-[#D7223C] mr-3"></span>{{ . }}
                  </li>
                  {{ end }}
                </ul>
                <a href="{{ .link }}"
                  class="w-full mt-auto inline-flex items-center justify-center px-6 py-3 text-base font-medium rounded-xl border border-gray-300 text-slate-700 hover:bg-white hover:border hover:border-[#D7223C] hover:text-[#D7223C] group-hover:bg-[#D7223C] group-hover:text-white transition">
                  Meer weten
                  <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9" />
                  </svg>
                </a>
              </div>
            </div>
            {{ end }}
          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="mt-7">
    <section class=" ">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
          <h2 class="lg:mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            {{.Params.pricing_section.pricing_title}}</h2>
        </div>
        <div class="lg:grid lg:grid-cols-4 lg:space-y-0 gap-6">
          {{ range .Params.pricing_section.pricing_cards }}
          <div
            class="flex mb-4 md:mb-0 flex-col p-6 mx-auto w-72 text-center text-gray-900 bg-white rounded-xl xl:p-8 shadow-lg hover:shadow-2xl transition">
            <h3 class="mb-4 text-2xl font-semibold">{{ .title }}</h3>
            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-5xl font-extrabold text-[#D7223C]">{{ .price }}</span>
              <span class="text-gray-500 dark:text-gray-400">{{ .duration }}</span>
            </div>
            <ul role="list" class="mb-8 space-y-4 text-left break-words whitespace-normal">
              {{ range .features }}
              <li class="flex items-center space-x-3">
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor"
                  viewBox="0 0 20 20">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>{{ . }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>

        <div class="my-10 flex justify-center">
          <a href="/schedule-form"
            class="py-3 px-8 me-2 mb-2 text-lg font-medium text-[#D7223C] focus:outline-none bg-transparent rounded-full border border-[#D7223C] hover:bg-[#D7223C] hover:text-white focus:z-10 focus:ring-4 focus:ring-[#D7223C]  transition">{{.Params.pricing_section.button_title }}</a>
        </div>
      </div>

    </section>

  </div>

  <section class=" py-5  flex bg-white">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto  xl:gap-0 lg:py-16 lg:grid-cols-12  flex items-center">
      <div class="mr-auto place-self-center lg:col-span-7  px-5">
        <h1 class="max-w-2xl mb-4 text-2xl md:text-5xl xl:text-4xl font-extrabold leading-none text-[#D7223C]">
          {{.Params.introduction.intro_title}}
        </h1>
        <p class="max-w-xl mb-6 font-light text-gray-600 lg:mb-8 text-md md:text-lg lg:text-xl "> {{.Params.introduction.intro_paragraph}}</p>


        <div class="max-w-xl rounded-lg p-6 mt-4 border border-gray-300 shadow-md bg-gray-50">
          <h3 class="text-lg font-semibold text-gray-800 mb-4">{{.Params.introduction.intro_card_title}}</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ range .Params.introduction.intro_card_points.points }}
            <div class="flex items-center space-x-3">
              <svg class="w-5 h-5 text-[#D7223C] flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700">{{ . }}</span>
            </div>
            {{ end }}
          </div>

        </div>

        <!-- Wat je kunt verwachten Section -->
        <div class="mt-8 mb-12">
          <h2 class="text-3xl font-bold text-gray-800 mb-6">{{ .Params.introduction.intro_heading_two.intro_heading_two_title }}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {{ range .Params.introduction.intro_heading_two.points }}
            <div class="flex items-start space-x-4">
              <svg class="w-6 h-6 text-[#D7223C] flex-shrink-0 mt-1" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <div>
                <h3 class="text-lg font-semibold text-gray-800">{{ .heading }}</h3>
                <p class="text-gray-600">{{ .subheading }}</p>
              </div>
            </div>
            {{ end }}
            
          </div>

          <div class="mt-8 text-center">
            <a href="tel:0612345678"
              class="inline-flex items-center justify-center px-8 py-4 text-lg font-semibold text-white bg-[#D7223C] hover:bg-white hover:text-[#D7223C] border border-[#D7223C] rounded-lg transition duration-300 shadow-lg hover:shadow-xl">
              {{ .Params.introduction.button_title }}
            </a>
          </div>
        </div>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex bg-gray-100 h-[80%]">
        <img src="{{ .Params.introduction.image }}" alt="mockup" class="rounded-lg object-cover" c>
      </div>
    </div>

  </section>
  <div class="mb-25 px-6 bg-white">
    <div class="max-w-6xl mx-auto">
      <div class="text-center ">
        <h2 class="text-center text-2xl font-bold md:text-3xl md:font-extrabold">{{.Params.how_it_works.title}}</h2>
        <div class="w-24 h-1 bg-[#D7223C] mx-auto rounded-full mt-4 mb-2"></div>
      </div>

      <div class="flex flex-col md:flex-row items-center justify-center gap-6 relative mt-8">
        {{ range .Params.how_it_works.cards }}
        <div
          class="bg-white rounded-2xl shadow-lg px-6 py-8 text-center hover:shadow-xl transition-shadow duration-300 h-80 w-80 flex flex-col justify-center gap-4">
          <!-- Orange Circle with Number -->
          <div class="flex justify-center">
            <div class="w-[50px] h-[50px] bg-[#D7223C] rounded-full flex items-center justify-center">
              <span class="text-white text-2xl font-bold">{{ .number }}</span>
            </div>
          </div>

          <!-- Title -->
          <h3 class="text-lg sm:text-xl font-bold text-gray-800 ">
            {{ .heading }}
          </h3>

          <!-- Description -->
          <p class="text-gray-600 text-sm leading-relaxed h-16 overflow-hidden">{{ .subheading }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>


  <section class="bg-gray-100 " id="contact">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <style>
        /* Scope to this page only */
        .custom-select {
          padding-right: 2.5rem;
        }

        .custom-select option:hover {
          background-color: #fed7aa;
          color: #111827;
        }
      </style>
      <div class="px-4 mx-auto max-w-screen-sm text-center lg:px-6 mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">Bel Linda of vul het formulier in</h2>
        <p class="font-light text-gray-600  sm:text-xl">WLinda geeft je direct een prijsindicatie op basis van je vraag.
          Jurjen komt dan langs voor een definitieve (vrijblijvende) offerte.</p>
      </div>
      <div class="grid grid-cols-1 lg:gap-8 lg:grid-cols-3">
        <div class="col-span-2 mb-8 lg:mb-0 bg-white p-4 rounded-xl">

          <form action="https://api.web3forms.com/submit" method="POST"
            class="flex flex-col gap-4 mx-auto max-w-screen-md">
            <input type="hidden" name="access_key" value="598a24b8-e901-4789-a950-d06bb15d30ed">
            <input type="hidden" name="redirect" value="https://wouter-portfolio.vercel.app/thank-you-contact-page">

            <div class="md:flex space-x-5">
              <div class="w-full md:w-1/2">
                <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 ">Naam</label>
                <input type="text" id="first-name" name="naam"
                  class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                  placeholder="Je voor- en achternaam" required>
              </div>
              <div class="w-full md:w-1/2">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Telefoonnummer</label>
                <input type="text" id="phone" name="telefoonnummer"
                  class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                  placeholder="06 - 12 34 56 78" required>
              </div>
            </div>
            <div class="w-full">
              <div class="mb-4">
                <label for="Adres" class=" block mb-2 text-sm font-medium text-gray-900 ">Adres van het project</label>
                <input type="text" id="first-name" name="adres"
                  class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                  placeholder="Straat + huisnummer, plaats" required>
              </div>
              <div>
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 ">Wat wil je laten
                  doen?
                  *</label>
                <select id="country" name="klus_type"
                  class="custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  ">
                  <option value="" disabled selected>Kies het type klus</option>
                  <option value="kozijnen-Vervange">Kozijnen Vervangen</option>
                  <option value="gevelbekleding">Gevelbekleding</option>
                  <option value="dakkapel">Dakkapel Renoveren/Plaatsen</option>
                  <option value="Schuifpui">Schuifpui Plaatsen</option>
                  <option value="Spoedgeval">Spoedgeval</option>
                  <option value="Lets Anders">Lets Anders</option>
                </select>

                <div class="menuFirst mt-4 hidden">
                  <h3 class="text-md font-semibold mb-3 text-gray-700">Specifieke vragen voor kozijnen:</h2>
                    <div class="md:flex space-y-4 md:space-x-4">
                      <div class="w-full md:w-1/2">
                        <label for="ramen_deuren" class="block mb-2 text-sm font-medium text-gray-900 ">Hoeveel
                          ramen/deuren?</label>
                        <input type="text" id="ramen_deuren" name="ramen_deuren"
                          class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                          placeholder="bijv. 4 ramen, 1 deur">
                      </div>
                      <div class="w-full md:w-1/2">
                        <label for="huidig_materiaal" class="block mb-2 text-sm font-medium text-gray-900 ">Huidige
                          materiaal</label>
                        <select name="huidig_materiaal"
                          class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                          <option value='' disabled selected>Selecteer</option>
                          <option value='Aluminuim'>Aluminuim</option>
                          <option value='Hout'>Hout</option>
                          <option value='Kunststof'>Kunststof</option>
                        </select>
                      </div>

                    </div>
                    <h3 class="text-md  font-semibold mb-1 text-gray-700">Op welke verdieping(en)?</h2>
                      <div class=' space-y-3 '>

                        <div class="flex items-center">
                          <input id="default-radio-1" type="radio" value="Begane grond" name="verdieping"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-700 ">Begane
                            grond</label>
                        </div>
                        <div class="flex items-center">
                          <input id="default-radio-2" type="radio" value="1e verdieping" name="verdieping"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-700 ">1e
                            verdieping</label>
                        </div>
                        <div class=" items-center">
                          <input id="default-radio-3" type="radio" value="Beide" name="verdieping"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                          <label for="default-radio-3" class="ms-2 text-sm font-medium text-gray-700 ">Beide</label>
                        </div>
                      </div>

                      <div class="w-full mt-3">
                        <label for="gewenste_timing" class="block mb-2 text-sm font-medium text-gray-900 ">Gewenste
                          timing</label>
                        <select name="gewenste_timing"
                          class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                          <option value='' disabled selected>Wanneer wilt u dit laten doen?</option>
                          <option value='Aluminuim'>Zo snel mogelijk</option>
                          <option value='Binnen1'>Binnen 1-2 maanden</option>
                          <option value='Binnen2'>Binnen 3-6 maanden</option>
                          <option value='Later'>Later dit jaar</option>
                        </select>
                      </div>
                </div>

                <div class="menuSecond mt-4 hidden">
                  <h3 class="text-md font-semibold mb-3 text-gray-700">Specifieke vragen voor kozijnen:</h2>

                    <h3 class="text-md mt-3 font-semibold mb-1 text-gray-700">Welke zijde van het huis?</h2>
                      <div class=' grid grid-cols-1 sm:grid-cols-2 gap-3'>

                        <div class="flex items-center gap-2">
                          <input id="default-radio2-1" type="radio" value="voorkant" name="gevel_zijde"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio2-1" class="ms-2 text-sm font-medium text-gray-700">Voorkant</label>
                        </div>
                        <div class="flex items-center gap-2">
                          <input id="default-radio2-2" type="radio" value="achterkant" name="gevel_zijde"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio2-2"
                            class="ms-2 text-sm font-medium text-gray-700 ">Achterkant</label>
                        </div>
                        <div class="flex items-center gap-2">
                          <input id="default-radio2-3" type="radio" value="zijkant" name="gevel_zijde"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                          <label for="default-radio2-3" class="ms-2 text-sm font-medium text-gray-700 ">
                            Zijkant</label>
                        </div>
                        <div class="flex items-center gap-2">
                          <input id="default-radio2-4" type="radio" value="rondom" name="gevel_zijde"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                          <label for="default-radio2-4" class="ms-2 text-sm font-medium text-gray-700 ">Rondom</label>
                        </div>

                      </div>

                      <div class="md:flex space-y-4 md:space-x-5 mt-4">

                        <div class="w-full md:w-1/2">
                          <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 ">Huidige
                            gevel</label>
                          <select name="huidige_gevel"
                            class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                            <option value='' disabled selected>Select your choice</option>
                            <option value='Steen'>Steen</option>
                            <option value='Hout'>Hout</option>
                            <option value='Kunststof'>Kunststof</option>
                            <option value='Abders'>Abders</option>
                          </select>
                        </div>
                        <div class="w-full md:w-1/2 ">
                          <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 ">Geschatte
                            oppervlakte</label>
                          <input type="text" id="first-name" name="geschatte_oppervlakte"
                            class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                            placeholder="bijv. 50 m² of 'weet ik niet'
                          ">
                        </div>
                      </div>



                </div>

                <div class="menuThird mt-4 hidden space-x-3">
                  <h3 class="text-md font-semibold mb-3 text-gray-700">Specifieke vragen voor kozijnen:</h2>


                    <div class='space-y-2'>
                      <h3 class="text-md mt-3 font-semibold mb-1 text-gray-700">Wat wilt u precies?</h2>
                        <div class="flex items-center">
                          <input id="default-radio3-1" type="radio" value="Bestaande dakkapel renoveren"
                            name="Wat wilt u precies?" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio3-1" class="ms-2 text-sm font-medium text-gray-700 ">Bestaande
                            dakkapel renoveren</label>
                        </div>
                        <div class="flex items-center">
                          <input id="default-radio3-2" type="radio" value="Nieuwe dakkapel plaatsen"
                            name="Wat wilt u precies?" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio3-2" class="ms-2 text-sm font-medium text-gray-700 ">Nieuwe dakkapel
                            plaatsen</label>
                        </div>
                        <div class="flex items-center">
                          <input id="default-radio3-3" type="radio" value="Weet ik nog niet zeker"
                            name="Wat wilt u precies?" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                          <label for="default-radio3-3" class="ms-2 text-sm font-medium text-gray-700 ">Weet ik nog niet
                            zeker</label>
                        </div>
                    </div>

                    <div class="md:flex space-y-4 md:space-x-5 mt-4">

                      <div class="w-full md:w-1/2">
                        <label for="kant" class="block mb-2 text-sm font-medium text-gray-900 ">Aan welke kant van het
                          huis?</label>
                        <select name="kant"
                          class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                          <option value='' disabled selected>Select your choice</option>
                          <option value='Voorkant'>Voorkant</option>
                          <option value='Achterkant'>Achterkant</option>
                          <option value='Linkerzijde'>Linkerzijde</option>
                          <option value='Rechterzijde'>Rechterzijde</option>
                        </select>
                      </div>
                      <div class="w-full md:w-1/2">
                        <label for="Huidige staat" class="block mb-2 text-sm font-medium text-gray-900 ">Huidige staat
                          (bij renovatie)</label>
                        <select name="Huidige staat"
                          class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                          <option value='' disabled selected>Hoe is de staat?</option>
                          <option value='Nog Redelijk'>Nog Redelijk</option>
                          <option value='wat ounderhoud nodig'>wat ounderhoud nodig</option>
                          <option value='Moet echt vervangen'>Moet echt vervangen</option>
                          <option value='N.V.T (nieuwe kapel)'>N.V.T (nieuwe kapel)</option>
                        </select>
                      </div>

                    </div>



                </div>

                <div class="menuFourth mt-4 hidden">
                  <h3 class="text-md font-semibold mb-3 text-gray-700">Specifieke vragen voor kozijnen:</h2>
                    <div class="md:flex space-y-4 md:space-x-5">

                      <div class="w-full md:w-1/2">
                        <label for="ramen_deuren" class="block mb-2 text-sm font-medium text-gray-900 ">Gewenste
                          breedte</label>
                        <input type="text" id="breedte" name="breedte"
                          class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                          placeholder="bijv. 3 meter of 'weet ik niet'">
                      </div>

                      <div class="w-full md:w-1/2">
                        <label for="hoogte" class="block mb-2 text-sm font-medium text-gray-900 "> Gewenste
                          hoogte</label>
                        <input type="text" id="hoogte" name="hoogte"
                          class="block p-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow-sm focus:ring-orange-500 focus:border-orange-500  "
                          placeholder="bijv. 2.2 meter of 'standaard'
">
                      </div>

                    </div>



                    <div class=' space-y-2 '>
                      <h3 class="text-md  font-semibold mb-1 text-gray-700">Waar komt de schuifpui?</h2>
                        <div class="flex items-center">
                          <input id="default-radio4-1" type="radio" value="Woonkamer naar tuin" name="schuifpui"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-orange-300 ">
                          <label for="default-radio4-1" class="ms-2 text-sm font-medium text-gray-700 ">Woonkamer naar
                            tuin</label>
                        </div>
                        <div class="flex items-center">
                          <input id="default-radio4-2" type="radio" value="Keuken naar terras" name="schuifpui"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                          <label for="default-radio4-2" class="ms-2 text-sm font-medium text-gray-700 ">Keuken naar
                            terras</label>
                        </div>
                        <div class=" items-center">
                          <input id="default-radio4-3" type="radio" value="Andere locatie" name="schuifpui"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                          <label for="default-radio4-3" class="ms-2 text-sm font-medium text-gray-700 ">Andere
                            locatie</label>
                        </div>
                    </div>

                    <div class="w-full mt-3">
                      <label for="wat_zit_er_nu" class="block mb-2 text-sm font-medium text-gray-900 ">Wat zit er
                        nu?</label>
                      <select name="wat zit er nu"
                        class='custom-select block p-3 pr-10 w-full text-sm text-gray-500 bg-gray-100 rounded-lg border border-gray-300 shadow-md hover:shadow-lg focus:ring-orange-500 focus:border-orange-500  '>
                        <option value='' disabled selected>Select your choice</option>
                        <option value='Openslaande deuren'>Openslaande deuren</option>
                        <option value='Raam'>Raam</option>
                        <option value='Muur (moet doorgebroken worden)'>Muur (moet doorgebroken worden)</option>
                        <option value='Nieuwbouw'>Nieuwbouw</option>
                      </select>
                    </div>
                </div>

              </div>
            </div>
            <!-- Popup Container -->


            <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 ">Extra informatie</label>
              <textarea id="message" rows="6" name="message"
                class="block p-2.5 w-full text-sm  bg-gray-100 rounded-lg shadow-sm border border-gray-300 focus:ring-orange-500 focus:border-orange-500 "
                placeholder="Andere belangrijke details die Linda moet weten..." required></textarea>

            </div>
            <button type="submit"
              class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-[#D7223C] sm:w-fit hover:bg-white hover:text-[#D7223C] border border-[#D7223C] focus:ring-4 focus:outline-none focus:ring-primary-300 transition ">Send
              message</button>
          </form>
        </div>

        <div class="grid grid-cols-1 col-span-1 gap-12 text-center sm:grid-cols-2 lg:grid-cols-1">
          <div class="bg-white rounded-xl">
            <div class="flex items-center space-x-3  p-3 rounded-lg">
              <!-- Icon -->
              <div class="flex justify-center items-center w-10 h-10 bg-red-100 rounded-lg lg:w-16 lg:h-16">
                <svg class="w-5 h-5 text-[#D7223C] lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                  </path>
                </svg>
              </div>

              <!-- Text -->
              <div class=" w-full">
                <p class="font-bold text-lg text-gray-800">Bel Linda</p>
                <p class="text-sm">06 - 12 34 56 78</p>
                <p class="text-sm">Ma-Vr 8:00-17:00

                  Spoedgevallen: altijd bereikbaar</p>


              </div>
            </div>



          </div>

          <div class="bg-white rounded-xl">
            <div class="flex items-center space-x-3  p-3 rounded-lg">
              <!-- Icon -->
              <div class="flex justify-center items-center w-10 h-10 bg-red-100 rounded-lg lg:w-16 lg:h-16">
                <svg class="w-5 h-5 text-[#D7223C] lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>

              <!-- Text -->
              <div class=" w-full">
                <p class="font-bold text-lg text-gray-800">Werkgebied</p>
                <p class="text-sm">Groningen en omgeving</p>
                <p class="text-sm">Tot 50 km van Groningen</p>


              </div>
            </div>

          </div>

          <div class="bg-white rounded-xl">
            <div class="flex items-center space-x-3  p-3 rounded-lg">
              <!-- Icon -->
              <div class="flex justify-center items-center w-10 h-10 bg-red-100 rounded-lg lg:w-16 lg:h-16">
                <svg class="w-5 h-5 text-[#D7223C] lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>

              <!-- Text -->
              <div class=" w-full">
                <p class="font-bold text-lg text-gray-800">Planning</p>
                <p class="text-sm">Deze week: 2 plekken vri</p>
                <p class="text-sm">Volgende week: volgeboekt</p>
                <p class="text-sm">Winter prep: nu plannen!</p>






              </div>
            </div>



          </div>


          <div class="bg-white rounded-xl">
            <div class="flex items-center space-x-3  p-3 rounded-lg">
              <!-- Icon -->
              <div class="flex justify-center items-center w-10 h-10 bg-red-100 rounded-lg lg:w-16 lg:h-16">
                <svg class="w-5 h-5 text-[#D7223C] lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>

              <!-- Text -->
              <div class=" w-full">
                <p class="font-bold text-lg text-gray-800">Bedrijfsinformatie:</p>
                <p class="text-sm">KvK: 85429876</p>
                <p class="text-sm">Volledig verzekerd</p>
                <p class="text-sm">Actief sinds 2019</p>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>

{{ end }}